<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyler.tbmd2" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tbmd_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:launchMode="singleTop"
        android:theme="@style/TBMD.Theme" >
        <activity
            android:name=".ToolbarMenudrawer"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kyler.tbmd2.activities.Home"
            android:label="@string/home"
            android:launchMode="singleTask"
            android:parentActivityName="com.kyler.tbmd2.ToolbarMenudrawer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.kyler.tbmd2.activities.WebViewTBMD"
            android:label="@string/blank_text"
            android:launchMode="singleTask"
            android:parentActivityName="com.kyler.tbmd2.ToolbarMenudrawer">
        </activity>
        <activity
            android:name="com.kyler.tstb.TimeSensitiveToolbar"
            android:label="@string/blank_text"
            android:launchMode="singleTask"
            android:parentActivityName="com.kyler.tbmd2.ToolbarMenudrawer">
        </activity>
    </application>

</manifest>
